:root {
  --textcolor: #212121;
  --textcolor2: #757575;
  --brandcolor: #2196f3;
  --backgroundcolor: #2f303a;
  --backgroundcolor2: #f5f4fa;
  --whitetextcolor: #fff;
  --herobtnfocuscolor: #188ce8;
  --footaddresscolor: rgba(255, 255, 255, 0.6);
  --footborderformcolor: rgba(255, 255, 255, 0.3);
  --sociallinkcolor: rgba(175, 177, 184, 1);
  --catalogbackgroundtext: rgba(33, 150, 243, 0.9);
  --item-background: rgba(47, 48, 58, 0.8);
  --modal-bordercolor: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --transition1: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: var(--textcolor2);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: var(--textcolor);
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--textcolor);
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.member-social-list {
  display: flex;
  justify-content: center;
}

.member-social-list-item + .member-social-list-item {
  margin-left: 10px;
}

.member-social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--sociallinkcolor);
  transition: fill var(--transition1);
}

.member-social-link:hover .member-social-link-icon,
.member-social-link:focus .member-social-link-icon {
  fill: var(--whitetextcolor);
}

.foot .member-social-link-icon {
  fill: var(--whitetextcolor);
}

.foot .member-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.member-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--whitetextcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--transition1);
}

.member-social-link:hover, .member-social-link:focus {
  background-color: var(--brandcolor);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
}

.logo-header {
  color: var(--textcolor);
}

.head .logo-link {
  margin-right: 93px;
}

.foot .logo-link {
  margin-bottom: 20px;
  display: inline-block;
}

.logo-footer {
  color: var(--whitetextcolor);
}

.head {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.head-navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.contakts-list {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.contakts-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list {
  color: var(--textcolor);
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color var(--transition1);
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--brandcolor);
}

.current {
  color: var(--brandcolor);
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--brandcolor);
  margin-bottom: -1px;
}

.contakts-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  color: var(--whitetextcolor);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover, auto;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whitetextcolor);
  background-color: var(--brandcolor);
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition1), box-shadow var(--transition1);
}

.btn:focus, .btn:hover {
  background-color: var(--herobtnfocuscolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-button {
  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--whitetextcolor);
}

.modal-button {
  padding: 10px 55px;
  display: block;
  margin: 0 auto;
}

.about-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.about-box-icon {
  background-color: var(--backgroundcolor2);
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
  padding: 25px 100px;
}

.activity {
  padding-top: 0;
}

.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.activity-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}

.activity-item-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  padding: 27px;
  width: 100%;
  bottom: 0;
  background-color: var(--item-background);
  color: var(--whitetextcolor);
}

.collective {
  background-color: var(--backgroundcolor2);
  max-width: 1600px;
  margin: auto;
}

.collective-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.collective-item {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--whitetextcolor);
}

.collective-member {
  font-weight: 500;
  color: var(--textcolor);
  margin-bottom: 10px;
  font-size: 16px;
}

.collective-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.collective-member-caption {
  padding-top: 30px;
  padding-bottom: 30px;
}

.collective-member-prof {
  margin-bottom: 16px;
}

.customer-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.customer-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.customer-list-item-link-icon {
  fill: currentColor;
}

.customer-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--sociallinkcolor);
  color: var(--sociallinkcolor);
  transition: color var(--transition1), border var(--transition1);
}

.customer-list-item-link:hover, .customer-list-item-link:focus {
  color: var(--brandcolor);
  border: 1px solid var(--brandcolor);
}

.foot {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--backgroundcolor);
  color: var(--whitetextcolor);
  margin: 0 auto;
}

.foot-adrs {
  font-style: normal;
}

.foot-adrs-item:not(:last-child) {
  margin-bottom: 9px;
}

.foot-adrs-link[target='_blank'] {
  color: var(--whitetextcolor);
}

.foot-adrs-link {
  color: var(--footaddresscolor);
  transition: color var(--transition1);
}

.foot-adrs-link:hover, .foot-adrs-link:focus {
  color: var(--brandcolor);
}

.foot-title {
  color: var(--whitetextcolor);
  margin-bottom: 20px;
}

.foot-container {
  display: flex;
  align-items: baseline;
}

.foot-cont-item:last-child {
  margin-left: auto;
}

.foot-cont-item:not(:last-child) {
  margin-right: 70px;
}

.foot-subscription {
  display: flex;
}

.foot-input {
  width: 358px;
  height: 50px;
  border: 1px solid var(--footborderformcolor);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--whitetextcolor);
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 12px;
  transition: border-color var(--transition1);
  outline: none;
}

.foot-input::placeholder {
  color: var(--footaddresscolor);
}

.foot-input:hover, .foot-input:focus {
  border-color: var(--brandcolor);
}

.subscription-icon {
  margin-left: 10px;
}

.catalog-button {
  font-family: inherit;
  background-color: var(--backgroundcolor2);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition1), box-shadow var(--transition1), background-color var(--transition1);
}

.catalog-button:hover, .catalog-button:focus, .catalog-button-current {
  background-color: var(--brandcolor);
  color: var(--whitetextcolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.catalog-list-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.catalog-list-item-product {
  font-size: 16px;
  line-height: 1.87;
}

.catalog {
  padding-top: 0;
  padding-bottom: 20px;
}

.catalog-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.catalog-item {
  min-width: 73px;
  min-height: 38px;
  border-radius: 4px;
}

.catalog-item:not(:last-child) {
  margin-right: 8px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.catalog-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.catalog-item-wrap {
  position: relative;
  overflow: hidden;
}

.catalog-list-img-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--catalogbackgroundtext);
  color: var(--whitetextcolor);
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition1);
  overflow: auto;
}

.catalog-list-img-text::-webkit-scrollbar {
  width: 5px;
}

.catalog-list-img-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.catalog-list-img-text::-webkit-scrollbar-thumb {
  background-color: var(--whitetextcolor);
  outline: 1px solid var(--textcolor2);
}

.catalog-list-item-link:hover .catalog-list-img-text,
.catalog-list-item-link:focus .catalog-list-img-text {
  transform: translateY(0);
}

.catalog-list-item-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition1);
}

.catalog-list-item-link:hover, .catalog-list-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.catalog-list-item-caption {
  padding: 20px 24px;
  border: 1px solid #ececec;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity var(--transition1), visibility var(--transition1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--whitetextcolor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform var(--transition1);
  padding: 40px;
}

.modal-close-icon {
  transition: fill var(--transition1);
}

.modal-close:focus .modal-close-icon,
.modal-close:hover .modal-close-icon {
  fill: var(--brandcolor);
}

.modal-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: border-color var(--transition1);
  outline: none;
}

.modal-close:focus, .modal-close:hover {
  border-color: var(--brandcolor);
}

.modal-text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--textcolor);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-bordercolor);
  border-radius: 4px;
  padding-left: 42px;
  color: var(--textcolor);
  transition: border-color var(--transition1);
  outline: none;
}

.form-input:focus, .form-input:hover {
  border-color: var(--brandcolor);
}

.input-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-bordercolor);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 10px;
  color: var(--textcolor);
  resize: none;
  outline: none;
}

.form-text:focus, .form-text:hover {
  border-color: var(--brandcolor);
}

.form-text::placeholder {
  color: var(--placeholder-color);
}

.form-textarea {
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition1);
}

.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
  fill: var(--brandcolor);
}

.agreement-link {
  color: var(--brandcolor);
  text-decoration-line: underline;
}

.checkbox-field {
  margin-bottom: 30px;
}

.checkbox-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--textcolor);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transition1);
}

.checkbox-wrap:hover {
  border-color: var(--brandcolor);
}

.checkbox-input:checked + .check-text .checkbox-wrap {
  background-color: var(--brandcolor);
  border: none;
}

.checkbox-input:focus + .check-text .checkbox-wrap {
  border-color: var(--brandcolor);
}

.check-text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */