.activity {
  padding-top: 0;
}
.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.activity-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}
.activity-item-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  padding: 27px;
  width: 100%;
  bottom: 0;
  background-color: var(--item-background);
  color: var(--whitetextcolor);
}
