.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.catalog-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.catalog-item__title {
  @include font(18px, null, 2, 0.06em);
  margin-bottom: 4px;
}

.catalog-item__product {
  @include font(16px, null, 1.87, null);
}

.catalog {
  padding-top: 0;
  padding-bottom: 20px;
}

.catalog-item__wrap {
  position: relative;
  overflow: hidden;
}
.catalog-item__text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--catalogbackgroundtext);
  color: var(--whitetextcolor);
  @include font(18px, null, 1.55, null);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition1);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--whitetextcolor);
    outline: 1px solid var(--textcolor2);
  }
  .catalog-item__link:hover &,
  .catalog-item__link:focus & {
    transform: translateY(0);
  }
}
.catalog-item__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.catalog-item__caption {
  padding: 20px 24px;
  border: 1px solid #ececec;
}
