body {
  font-family: 'Roboto', sans-serif;
  @include font(14px, null, 1.71, 0.03em);
  color: var(--textcolor2);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  color: var(--textcolor);
}
.section-title {
  @include font(36px, null, 1.17, null);
  text-align: center;
  color: var(--textcolor);
  margin-bottom: 50px;
}
.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}
