body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: var(--textcolor2);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  color: var(--textcolor);
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--textcolor);
  margin-bottom: 50px;
}
.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}
