.hero {
  color: var(--whitetextcolor);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover, auto;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__title {
  @include font(44px, 900, 1.36, 0.06em);
  text-transform: uppercase;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
