.logo-link {
  font-family: Raleway;
  @include font(26px, 700, 1.19, 0.03em);

  color: var(--brandcolor);
}

.logo--header {
  color: var(--textcolor);
}

.head .logo-link {
  margin-right: 93px;
}
.foot .logo-link {
  margin-bottom: 20px;
  display: inline-block;
}
.logo--footer {
  color: var(--whitetextcolor);
}
